/** audio player styles **/
.audio-player, .audio-player div, .audio-player a, .audio-player span, .audio-player button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

div.audio-player {
  position: relative;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.mejs-controls .mejs-button button {
  cursor: pointer;
  display: block;
  position: absolute;
  text-indent: -9999px;
}

.mejs-controls .mejs-play button, .mejs-controls .mejs-pause button {
  width: 34px;
  height: 34px;
  top: 32px;
  left: 7px;
}

.mejs-controls .mejs-pause button {
  background-position: 0 -35px;
}

.mejs-controls .mejs-mute button, .mejs-controls .mejs-unmute button {
  width: 18px;
  height: 19px;
  top: 9px;
  right: 142px;
}

.mejs-controls .mejs-unmute button {
  background-position: 0 -19px;
}

.mejs-controls div.mejs-horizontal-volume-slider {
  position: absolute;
  top: 13px;
  right: 15px;
  cursor: pointer;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  width: 120px;
  height: 11px;
  background: #212227;
  -webkit-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  position: absolute;
  width: 0;
  height: 9px;
  top: 1px;
  left: 1px;
  background: #90d26a;
  background: -webkit-linear-gradient(top, #90d26a 0%, #83bb63 100%);
  background: -moz-linear-gradient(top, #90d26a 0%, #83bb63 100%);
  background: -o-linear-gradient(top, #90d26a 0%, #83bb63 100%);
  background: -ms-linear-gradient(top, #90d26a 0%, #83bb63 100%);
  background: linear-gradient(top, #90d26a 0%, #83bb63 100%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.mejs-controls div.mejs-time-rail {
  width: 380px;
}

.mejs-controls .mejs-time-rail span {
  position: absolute;
  display: block;
  width: 380px;
  height: 12px;
  top: 40px;
  left: 55px;
  cursor: pointer;
  -webkit-border-radius: 0px 0px 2px 2px;
  -moz-border-radius: 0px 0px 2px 2px;
  border-radius: 0px 0px 2px 2px;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
  background: #565860;
  width: 380px !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
  top: 0;
  left: 0;
  width: 0;
  background: #7b7d82;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
  top: 0;
  left: 0;
  width: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #90d26a;
  background: -webkit-linear-gradient(top, #90d26a 0%, #83bb63 100%);
  background: -moz-linear-gradient(top, #90d26a 0%, #83bb63 100%);
  background: -o-linear-gradient(top, #90d26a 0%, #83bb63 100%);
  background: -ms-linear-gradient(top, #90d26a 0%, #83bb63 100%);
  background: linear-gradient(top, #90d26a 0%, #83bb63 100%);
}

.mejs-controls .mejs-time-rail .mejs-time-handle {
  position: absolute;
  display: block;
  width: 20px;
  height: 22px;
  top: -6px;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
  position: absolute;
  display: block;
  width: 12px;
  height: 14px;
  top: -1px;
}

.mejs-controls .mejs-time-rail .mejs-time-float {
  position: absolute;
  display: none;
  width: 33px;
  height: 23px;
  top: -26px;
  margin-left: -17px;
  z-index: 9999;
}

.mejs-controls .mejs-time-rail .mejs-time-float-current {
  width: 33px;
  display: block;
  left: 0;
  top: 4px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #666;
  text-align: center;
  z-index: 9999;
}

.mejs__playpause-button button,
.mejs__controls .mejs__play button {
  background: #d207a4 url(../img/play.png) no-repeat;
  border-radius: 5px;
  height: 31px;
  width: 31px;
  cursor: pointer;
  background-position: 3px 3px;
  outline: none;
}

.mejs__controls .mejs__pause button {
  background: #d207a4 url(../img/pause.png) no-repeat;
  border-radius: 5px;
  height: 31px;
  width: 31px;
  cursor: pointer;
  background-position: 3px 3px;
  outline: none;
}

.mejs__container{
  background: none;
}

.mejs__horizontal-volume-current{
  background: #d207a4;
}

.mejs__horizontal-volume-total{
  background: white;
  height: 10px;
  width: 48px;
  top: 13px;
}

.mejs__time-total{
  background: white;
  border-radius: 10px;
}

.example_songs_feedback .audio-player .mejs__time-total,
.example_songs_feedback .audio-player .mejs__horizontal-volume-total{
  background: #f0edeb;
}

.example_songs_feedback .audio-player .mejs__controls .mejs__pause button,
.example_songs_feedback .audio-player .mejs__controls .mejs__play button,
.example_songs_feedback .audio-player .mejs__controls .mejs__replay button,
.example_songs_feedback .audio-player .mejs__playpause-button button{
  margin-left: 0;
}

.example_songs_feedback .audio-player .mejs__time-rail{
  margin-left: 10px !important;
}

.example_songs_feedback .audio-player .mejs__horizontal-volume-slider{
  right: 80px;
}

.mejs__controls:not([style*="display: none"]) {
   background: none;
}

.mejs__time-current{
  background: #d207a4;
}

.mejs__container{
  height: 45px !important;
}

.mejs__horizontal-volume-slider{
  right: 0;
}

.mejs__time-rail{
  margin-left: 50px !important;
  margin-top: 13px !important;
}

.mejs__horizontal-volume-slider{
  margin-top: -53px;
}

@media only screen and (max-width: 600px) {

  .mejs__time-rail{
    width: 105px !important;
  }

}
